@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

/* Setup variables */
:root {
  --mainTextColor: #fff;
  --secondaryTextColor: #adb0b1;
  --mainLinkColor: rgb(30, 190, 214);
  --mainBorderColor: #2b3031;
  --mainBgColor: #131415;
}

* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
  transition: 1s;
}

p,
span,
li {
  color: var(--secondaryTextColor);
  transition: 1s;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
  transition: 0.3s;
}

a:hover {
  color: red;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 780px;
  margin: 0 auto;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#user-name {
  font-size: 3em;
  line-height: 1em;
}

#bio,
a {
  font-weight: 300;
}

#profile-pic {
  border-radius: 50%;
  width: 12em;
  height: 12em;
  object-fit: cover;
}

#email {
  color: var(--mainTextColor);
  transition: 1s;
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-size: 1.1em;
  color: var(--mainLinkColor);
  transition: 0.3s;
}

#socials--list a:hover {
  color: red;
}

#qualifications--list {
  list-style: none;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  transition: 1s;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  transition: 1s;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  transition: 1s;
  height: 1px;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
  transition: 1s;
}

.card--project a {
  color: var(--mainLinkColor);

  transition: 0.3s;
}

.card--project a:hover {
  color: red;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

Hide default HTML checkbox .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mode--container {
  display: flex;
  position: fixed;
  column-gap: 1em;
  margin-left: 85%;
  transition: 1s;
}

.mode--p {
  margin-top: 5px;
  transition: 1s;
}

@media (max-width: 1200px) {
  .mode--container {
    margin-left: 80%;
    position: absolute;
    transition: 1s;
  }

  .mode--container p {
    opacity: 0;
    transition: 1s;
  }
}

@media (max-width: 800px) {
  #wrapper--hero {
    flex-direction: column;
    gap: 1em;
    transition: 1s;
  }

  #qualifications--list {
    padding: 0.3em;
    transition: 1s;
  }

  #profile-pic {
    width: 15em;
    height: 15em;
    transition: 1s;
  }

  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
    transition: 1s;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
    transition: 1s;
  }

  .mode--container {
    margin-left: 70%;
    position: absolute;
    transition: 1s;
  }

  .mode--container p {
    opacity: 0;
    transition: 1s;
  }
}
